body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #610f7f;
    margin-left: 200px;
    margin-right: 200px;
    color: #fcb07e;
    font-weight: bold;
    text-align: center;
}

main {
    text-align: left;
}

table {
    outline: ivory;
    width: 2px;
}

img {
    margin-left: auto;
    margin-right: auto; 
}

.pagename {
    text-align: center;
}

.ratImage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: drop-shadow(10px 10px 10px black)
}

a:link, a:visited {
    color: #BAFEA0;
}

a:hover {
    color: #6BF734;
}