body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #610f7f;
    margin-left: 200px;
    margin-right: 200px;
    color: #fcb07e;
    font-weight: bold;
    text-align: center;
}

main {
    text-align: left;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 5px;
}

th {
    background-color: #310840;
}

td:nth-child(even) {
    background-color: #691787;
}

td:nth-child(odd) {
    background-color: #801fa3;
}

img {
    margin-left: auto;
    margin-right: auto; 
}

.pagename {
    text-align: center;
}

.ratImage {
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: drop-shadow(10px 10px 10px black)
}

a:link, a:visited {
    color: #BAFEA0;
}

a:hover {
    color: #6BF734;
}