html {
    font-family: 'Courier New', Courier, monospace;
    background-color: peru;
    margin-left: 25px;
    margin-right: 25px;
}

header {
    background-color: #d42b4c !important;
}

main {
    background-color: #2BD4B3;
    margin-left: 25px;
    margin-left: 25px;
}