@font-face {
    font-family: unccFont;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
}

main {
    text-align: left;
}

.pagename {
    text-align: center;
}

body {
    background-color: green;
    font-family: unccFont;
    font-weight: bold;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
}

a:link, a:visited {
    color: #ffc889;
}

a:hover {
    color: #ffdeb8;
}