<header>
    <h1>
        &diams; Earnest Squirrels &diams;
    </h1>
    
    &diams; Evan Schlee &diams; ITIS 3135 &diams;

    <br><br>
    
    <div class="dropdown-sec1">
        <button class="dropdown-button">Homepages</button>
        <div class="dropdown-content">
            <a href="index.html">ITIS 3135 Home</a>
            <a href="https://webpages.charlotte.edu/eschlee">UNCC Home</a>
        </div>
    </div>
    <div class="dropdown-sec1">
        <button class="dropdown-button">Testing</button>
        <div class="dropdown-content">
            <a href="template.html">Template Page</a>
            <a href="testing/testdoc.html">Test/Example Page</a>
        </div>
    </div>
    <div class="dropdown-sec1">
        <button class="dropdown-button">Course</button>
        <div class="dropdown-content">
            <a href="introduction.html">Introduction</a>
            <a href="coursecontract.html">Contract</a>
        </div>
    </div>
    <div class="dropdown-sec1">
        <button class="dropdown-button">HTML</button>
        <div class="dropdown-content">
            <a href="forms.html">Forms</a>
            <a href="tables.html">Tables</a>
            <a href="accessibility/Schlee-Activity_Accessibility.html">Accessibility</a>
        </div>
    </div>
    <div class="dropdown-sec2">
        <button class="dropdown-button">CSS/Design</button>
        <div class="dropdown-content">
            <a href="crapreview.html">CRAP Reviews</a>                
            <a href="uhhhhhhhhhhh/CRAPP^Y SIT!E.htm">Crappy Website</a>
        </div>
    </div>
    <div class="dropdown-sec2">
        <button class="dropdown-button">Javascript</button>
        <div class="dropdown-content">
            <a href="firstscripts.html">First Scripts</a>                
            <a href="polygons.html">Polygon Namer</a>
            <a href="calculator_try.html">Calculator Try (1hr)</a>
            <a href="calculator_fcc.html">Tutorial Calculator</a>
            <a href="arrays.html">Arrays</a>
            <a href="slideShow.html">Slideshow</a>
        </div>
    </div>
    <div class="dropdown-sec2">
        <button class="dropdown-button">Projects</button>
        <div class="dropdown-content">
            <a href="project_rand.html">Client Webpage Outline</a>
            <a href="client_project/homepage.html">Client Webpage Home</a>
            <a href="hobby/index.html">Midterm Page</a>
        </div>
    </div>   
</header>