<header>
    <nav>
        <a href="index.html">[Home]</a>
         | 
        <a href="introduction.html">[Introduction]</a>
         | 
        <a href="contract.html">[Contract]</a>
         | 
        <a href="tables.html">[Tables]</a>
         | 
        <a href="forms.html">[Forms]</a> 
         | 
        <a href="https://webpages.charlotte.edu/eschlee/">[Charlotte Home]</a>
         | 
        <a href="website-evaluations.html">[Website Evaluations]</a>
         | 
        <a href="firstscripts.html">[JavaScripts Page]</a>
         | 
        <a href="whosthatpolygon.html">[Polygon Namer]</a>
         | 
        <a href="calculator_try.html">[Calculator Try]</a>
         | 
        <a href="calculator_fcc.html">[Calculator Following Tutorial]</a>
         |
        <a href="arrays.html">[Arrays]</a>
    </nav>
    <h1>Evan Schlee 🦎 ITIS-3135</h1>

</header>