<div class="slideShow">
    <ul class="slides">
        <li class="slide"><img src="#"></li>
        <li class="slide"><img src="#"></li>
        <li class="slide"><img src="#"></li>
        <li class="slide"><img src="#"></li>
        <li class="slide"><img src="#"></li>
    </ul>

    <div class="slideButtons">
        <button type="button" class="btn btn-default pause">
            <span class="glyphIcon-pause"></span>
        </button>
        <button type="button" class="btn btn-default play">
            <span class="glyphIcon glyphIcon-play"></span>
        </button>
    </div>
</div>