<div class="slideShow">
    <ul class="slides">
        <li class="slide"><img src="images/birdShot.png"></li>
        <li class="slide"><img src="images/foolishFella.png"></li>
        <li class="slide"><img src="images/myHonestReaction.png"></li>
        <li class="slide"><img src="images/noahOfTwoReflections.png"></li>
        <li class="slide"><img src="images/ratscallions.png"></li>
    </ul>

    <div class="slideButtons">
        <button type="button" class="btn btn-default pause">
            <span class="glyphIcon-pause"></span>
        </button>
        <button type="button" class="btn btn-default play">
            <span class="glyphIcon glyphIcon-play"></span>
        </button>
    </div>
    <script type="text/javascript" src="components/scripts/slides.js"></script>
</div>