<div class="slideShow">
    <ul class="slides">
        <li class="slide"><img src="#"></li>
        <li class="slide"><img src="#"></li>
        <li class="slide"><img src="#"></li>
        <li class="slide"><img src="#"></li>
        <li class="slide"><img src="#"></li>
    </ul>

    <div class="slideButtons">
        <button type="button" class="btn btn-default pause">
            <span class="glyphIcon-pause"></span>
        </button>
        <button type="button" class="btn btn-default play">
            <span class="glyphIcon glyphIcon-play"></span>
        </button>
    </div>
    <script type="text/javascript" src="scripts/slides.js"></script>
</div>
<!--LEFT OFF AT: Inside our function we will use jQuery to fade between slides at the speed of the animationSpeed variable:-->