body {
    font-family: Helvetica, sans-serif;
    color: goldenrod;
    text-align: center;
    background-color: #19324C;
}

header {
    font-family: Georgia, serif;
    text-align: center;
    color: #10e84a;
}

main {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color:#aae6c0;
}

a:visited {
    color:#5aa174;
}

a:hover {
    color:#3cc26d;
}