/*
COLOR PALETTE:
    White ---------- #f1e6b2;
    Blue ----------- #44a1a0;
    Black (Gray) --- #7f7f7f;
    Red (Orange) --- #ff7a0e;
    Green ---------- #005035; 


/* vvvvv BEGIN FONT IMPORTS vvvvv */
@font-face
{
    font-family: Beleren;
    src: url(fonts/Beleren2016-Bold.ttf);
}

@font-face
{
    font-family: Goudy;
    src: url(fonts/GoudyMediaevalRegular.ttf);
}
/* ^^^^^ END FONT IMPORTS ^^^^^ */

/* vvvvv BEGIN MAIN TAG STYLING vvvvv */
html
{
    background-color: #005035;
}

header
{
    padding: 50px 10px 50px 10px;
    border-style: solid;
    border-radius: 5px;
    background-color: #ff7a0e;
    filter: drop-shadow(0px 10px 10px black);
}

main
{
    font-family: Beleren;
    background-color: #f1e6b2;
    margin: 50px 20% 50px 20%;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
}

nav
{
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-family: Beleren;
    font-size: 30px;
    color: #2e2020;
    text-align: center;
}

h2 
{
    font-weight: bold;
    text-align: center;
}

img
{
    display: inline;
}

title
{
    text-align: center;
}
/* ^^^^^ END MAIN TAG STYLING ^^^^^ */

/* vvvvv BEGIN CUSTOM CLASS STYLES vvvvv */

.displayArchetypeInfo
{
    display: none;
}

.displayArchetypeInfo button
{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.displayArchetypeInfo p
{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.oneArchetypeContainer
{
    border-style: solid;
    border-color: black;
    background-color: #AFF1A9;
    border-radius: 15px;
    filter: drop-shadow(0px 10px 10px black);
}

.manasymbol
{
    vertical-align: middle;
    position: relative;
    display: inline;
}

.validators
{
    text-align: center;
}

.eventContainer 
{
    border: solid;
    border-color: #ff7a0e;
    border-radius: 5px;
    display: inline;
}

.discordLink
{
    float: right;
    display: inline;
    border-radius: 10px;
    border-style: solid;
    border-color: #7f7f7f;
    position: relative;
    top: -60px;
    filter: drop-shadow(0px 10px 10px black);
}

.archetypeImages
{
    margin-left: 65px;
}

.pageContainer
{
    padding: 25px 25px 25px 25px;
}

.archetypeImages img
{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 40px 0px 0px;
}

.archetypeImages h3
{
    text-align: center;
    font-style: italic;
}

.allArchetypeContainer h3
{
    text-align: center;
}

.allArchetypeContainer a:hover
{
    font-style: italic;
    text-decoration: none;
}

.allArchetypeContainer a:active
{
    text-decoration: none;
}

.allArchetypeContainer a:visited
{
    text-decoration: none;
    color: black;
}

.allArchetypeContainer a:link
{
    text-decoration: none;
}
    /* vvvvv BEGIN NAVBAR STYLING vvvvv */
    nav a {
        border-style: solid;
        border-width: 5px;
        border-color: darkslategrey;
        display: inline;
        padding: 5px 10px 5px 10px;
    }
    nav a:hover {
        border-width: 10px;
        border-color: darkslateblue;
    }
    nav a .home {
        color: #f1e6b2;
    }
    nav a .events {
        color: #44a1a0;
    }
    nav a .learnteach {
        color: #7f7f7f;
    }
    nav a .cube {
        color: #ff7a0e;
    }
    nav a .meetus {
        color: #005035;
    }
    /* ^^^^^ END NAVBAR STYLING ^^^^^ */

/* ^^^^^ END CUSTOM CLASS STYLES ^^^^^ */