/*
COLOR PALETTE:
    White ---------- #f1e6b2;
    Blue ----------- #44a1a0;
    Black (Gray) --- #7f7f7f;
    Red (Orange) --- #ff7a0e;
    Green ---------- #005035; 


/* vvvvv BEGIN FONT IMPORTS vvvvv */
@font-face
{
    font-family: Beleren;
    src: url(fonts/Beleren2016-Bold.ttf);
}

@font-face
{
    font-family: Goudy;
    src: url(fonts/GoudyMediaevalRegular.ttf);
}
/* ^^^^^ END FONT IMPORTS ^^^^^ */

/* vvvvv BEGIN MAIN TAG STYLING vvvvv */
html
{
    background-color: #005035;
}

header
{
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    background-color: #ff7a0e;
}

nav
{
    font-family: Goudy;
}

h1
{
    font-family: Beleren;
    color: f1e6b2;
}

main
{
    font-family: Beleren;
    background-color: #f1e6b2;
    margin: 50px 20% 50px 20%;
}
/* ^^^^^ END MAIN TAG STYLING ^^^^^ */

/* vvvvv BEGIN CUSTOM CLASS STYLES vvvvv */

    /* vvvvv BEGIN NAVBAR STYLING vvvvv */

    /* ^^^^^ END NAVBAR STYLING ^^^^^ */

/* ^^^^^ END CUSTOM CLASS STYLES ^^^^^ */