/* vvvvv BEGIN FONT IMPORTS vvvvv */
@font-face
{
    font-family: Beleren2016-Bold;
    src: url(Beleren2016-Bold.ttf);
}
/* ^^^^^ END FONT IMPORTS ^^^^^ */

/* vvvvv BEGIN MAIN TAG STYLING vvvvv */
body 
{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #005035;
}


header
{
    background-color: #ff7a0e;
}

h1 
{
    font-family: Beleren2016-Bold;
}
/* ^^^^^ END MAIN TAG STYLING ^^^^^ */

/* vvvvv BEGIN CUSTOM CLASS STYLES vvvvv */

    /* vvvvv BEGIN NAVBAR STYLING vvvvv */

    /* ^^^^^ END NAVBAR STYLING ^^^^^ */

/* ^^^^^ END CUSTOM CLASS STYLES ^^^^^ */